body {background-color: darkorchid;} 

h1,h2{font-family: Verdana, Arial, sans-serif}

.container { text-align: center; background-color: lightblue; padding: 20px;
  border: 2px solid black; border-radius: 5px; width:600px; margin: auto;}
  

  h3 a:link { color: lightblue; }
h3 a:visited { color: rebeccapurple; }
h3 a:hover { color: coral; }
